

*{
    margin: 0;
    
    box-sizing: border-box;
  }

  html{
    
    font-size: 12pt;
    color: var(--text-color);
    
  }

  body{
    min-height: 100vh;
    background: url("https://unsplash.imgix.net/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=857f07b76abac23a7fb7161cc7b12a46") no-repeat center;
    background-size: cover;
    position: relative;
    font-family: "Young Serif", serif;
   
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    border-radius: 10px;
   

  }

  .form-container{
    height: 100vh;
    background-color: tomato;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 2rem 3rem;
    
  }
  

  h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: .5rem;
    ;
  }
 label{
     margin-bottom: .5rem;
    display: block; 
    text-align: left;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
  }
   

  input{
    width: 100%;
    padding: .6rem;
    max-width: 100%;
    font-size: 1rem;
    transition: 150ms ease;
    border: 0;
    border-radius: 5px;
    padding:  1rem 3rem 1rem 1rem;
  }
  #fname-alert, #lname-alert, #email-alert {
    margin-bottom: 3rem;
  }
  .btn-submit {
    padding: 1rem 2rem;
    background-color: #222;
    color: white;
    font-size: 1rem;
    text-align: center;
    
    
    &:hover{
      background-color: #333;
    }
  }
 